/*
    altalanos formázas
*/
.sorkizart{
    text-align: justify;
}
.jobbra-zart{
    text-align: right;
}

.balra-zart{
    text-align: left;
}
.kozepre-zart{
    text-align: center;
}

.undrin-bold{
    text-decoration: underline;
    font-weight: bolder;
}

nav{
    width: 100%;
}

.onlyToPrint{
    visibility: hidden;
}

#main-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none; 
    background-color: lightslategray;
    padding: 5pt;
    box-shadow: -1px -1px 3px 1px rgb(53, 24, 78);
    border-radius: 10px;
}

#main-menu li{
    font-size: 16pt;
    padding:2pt;
}

#main-menu li:hover,#main-menu li:active{
    color:white;
    text-shadow: 1px 1px 4px 4px black;

}

#main-menu > li > span{
    font-size: 45pt;
    
   }

#basic-date-form{
    display: flex;
    flex-direction: column;
   }

.adatHiany{
    background-color: rgb(255, 127, 127);
}

.inactive{
    opacity: .3;
    cursor: not-allowed;
}

.deAcivated{
    opacity: .3;
}


#teljesitesi-igazolasok h3{
    background-color: rgb(175, 150, 196);
}

.szabad-ora-select{width:6rem;}
#szabad-ora-form p{
    font-size:9pt;
    
}
.szabad-ora-szama-input{
    width:2rem;
}
.sor.onlyToPrint{
    display:none;
}
.szabad-ora-lista{
    font-size: 8pt;
    font-weight: normal;

}
.szabad-ora-lista.sor{
    position: relative;
}

.szabad-ora-lista span{
    font-weight: bolder;

}
.orarend-statisztikak.onlyToPrint{
    display: none;
}
.szabad-ora-lista-item-tartalom{
    height: 36pt;
    overflow: hidden;
}
.delete-x-button{
    display: block;
    opacity: .5;
    margin-top: -10pt;
    background-color: red;
    color: white;
    box-shadow: 0 0 1px 1px rgb(244, 110, 110);
    border-radius: 15px;
    border: 0 solid black;
    transition: all 300ms ease-out;
}

.delete-x-button:active,.delete-x-button:hover{
    background-color: white;
    color: red;
    opacity: 1;
}


#print-menu h3{
    background-color: rgb(102, 238, 147);
}
#list-of-documents-to-print-ul, .list-of-documents-to-print-ul{
    border: 1px solid rgb(49, 103, 67);
    
    border-radius: 15px;
    padding:5pt;
}

#list-of-documents-to-print-ul li,.document-to-print-li{
    background-color: rgb(175, 150, 196);
    padding: 4pt;
    border-radius: 15px;
    margin-bottom: 3pt;
}

.document-to-print-li::marker{
    color:rgba(0,0,0,0);
}

.cyan-background{
    background-color: rgb(120, 217, 255) !important;
}
.rose-background{
    background-color: rgb(247, 140, 140) !important;
}
.border-1pt-solid-black{
    border: 1pt solid black;
}
/*
#statikus-fejlec header{
    filter: blur(5px);
}
*/
